.container {
  width: 100%;
  min-width: 160px;
  height: 36px;
  box-sizing: border-box;
}

.addButton {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.stepperContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: var(--aurora-color-surface);
  border-radius: var(--aurora-border-radius);
  padding: 4px;
  gap: 8px;
  border: 1px solid var(--aurora-color-primary);
  box-shadow: 0 0 0 1px var(--aurora-color-primary); /* Efecto de focus constante indicando que está activo */
}

/* Usamos selectores combinados para sobreescribir ligeramente los paddings del botón por defecto y hacerlo más cuadrado */
.stepperContainer .stepperButton {
  height: 100%;
  aspect-ratio: 1 / 1;
  padding: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: transparent;
}

.stepperContainer .stepperButton:hover:not(:disabled) {
  background-color: var(--aurora-color-neutral-bg-hover);
  border-color: transparent;
}

.quantityDisplay {
  flex-grow: 1;
  text-align: center;
  font-family: var(--aurora-font-family);
  font-weight: var(--aurora-font-weight-bold);
  color: var(--aurora-color-text-primary);
  font-size: var(--aurora-font-size-md);
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 32px;
}
