/* Eliminamos el .wrapper ya que el hijo ahora maneja los eventos él mismo */

.tooltip {
  /* La propiedad 'position' viene de floatingStyles en react */
  padding: 6px 12px;
  background-color: var(--aurora-color-text-primary);
  color: var(--aurora-color-text-on-primary);
  font-family: var(--aurora-font-family);
  font-size: var(--aurora-font-size-sm);
  font-weight: var(--aurora-font-weight-medium);
  border-radius: var(--aurora-border-radius);
  white-space: nowrap;
  z-index: 100;
  pointer-events: none;
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  animation: fadeIn 0.2s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Arrow */
.arrow {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: var(--aurora-color-text-primary);
  transform: rotate(45deg);
}

/* Las clases estáticas de posiciones han sido eliminadas porque Floating UI nos da las posiciones inline exactas para soportar colisiones */
